@model CourseListViewModel


<h1>@Model.Title</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var course in Model.Courses)
    {
        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top"
                     width="188"
                     height="225"
                     src="@course.ImageThumbnailUrl"
                     alt="@course.Name">
                <div class="card-body">
                    <h3 class="card-title">@course.Category.Name</h3>
                    <h5 class="card-text">
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@course.CourseId"> @course.Name </a>                    
                    </h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">@course.Price.ToString("c")</a>
                        <small class="text-body-secondary">@course.Author</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

